body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

header {
    background-image: url('backgrond.jpg');
  width: 100%;
    padding: ;
    height: 70px ;
   padding: 0px;
  position: fixed;
  border: 1px solid #000;
 
   
}

nav ul {
    list-style-type: none;
  
    margin: 0px;
    padding: 0px;
    
}

nav li {
    display: inline-block;
    margin: 0 5px;
    padding: 7px;
   
}

nav a {
    text-decoration: none;
   
}

#hero {
    background-image: url('okk.jpg');
    background-position: left;
    
    background-size:;
   
  
    background-size: cover;
    text-align: center;
    color: #fff;
    padding: 100px 0;
    
}

#hero h1 {
    font-size: 36px;
}

#hero p {
    font-size: 18px;
    color: white;
}

.cta-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #e74c3c;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}
#about{
padding:10px;
   
}
#features{
    background-image :url('ko.jpg');
    z-index:-10;
    background-repeat: no-repeat;
    
    
}

footer {
    background: black;
    color: white;
    height: 45px;
    padding: 20px;
}
